<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>archimate</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Archi Model</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Archi</string>
	<key>CFBundleGetInfoString</key>
	<string>Archi 4.5.1</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.archimatetool.editor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Archi</string>
    <key>CFBundleDisplayName</key>
    <string>Archi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.5.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4.5.1</string>
    <key>NSHighResolutionCapable</key>
    <true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
</dict>
</plist>
